<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form get textarea value - Editor.md examples</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/editor.md-master/css/editormd.css" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        /*导航条排版*/

        #menu-name {
            padding-left: 80px;
        }

        #menu li {
            padding: 0px 80px;
        }
        #layout{
            /*font-size: large;*/
        }

        body {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            font-size: 16px;
            line-height: 1.5;
        }

        .inputcontrol{
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 30px 0px;
        }
        #category{

            height: 36px;
        }
    </style>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar-container">
        <!--适配移动端，折叠菜单-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="menu-name">菜单</a>
        </div>
        <!--内容-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="menu">
                <li class="active">
                    <a href="#">主页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/write">增加文章</a>
                </li>
                <li>
                    <a href="/destorysession">退出管理系统</a>
                </li>
                <!--站内搜索-->
                <!--跟用户搜索框有区别，注意controller的匹配路径-->
                <form class="navbar-form navbar-right" action="/admin/articleByObscure" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="field">
                    </div>
                    <button type="submit" class="btn btn-default">文章搜索</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!--编辑区-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="layout">
            <form method="post" action="/admin/updateArticle?articleId=${article.articleId}">
                <!--选择文章类别-->
                <div class="form-group inputcontrol">
                    <label for="category" class="col-sm-2 control-label" style="text-align: left">文章类别</label>
                    <div class="col-sm-10 " style="text-align: center">
                        <select class="form-control" id="category" style="width: 90%" name="articleCategory">
                            <option>编程软件</option>
                            <option>物理数学</option>
                            <option>摄影电影</option>
                            <option>生活关于我</option>
                        </select>
                    </div>
                </div>
                <!--填写文章标题-->
                <div class="form-group inputcontrol" style="margin: 15px 0px">
                    <label for="title" class="col-sm-2 control-label" style="text-align: left">文章标题</label>
                    <div class="col-sm-10" style="text-align: center">
                        <input type="text" id="title" class="form-control" name="articleTitle" style="width: 90%" value="${article.articleTitle}"/>
                    </div>
                </div>
                <br/>
                <br/>
                <!--填写文章内容-->
                <div id="test-editormd" class="form-group inputcontrol" style="margin: 15px 0px">
                    <!-- Custom textarea name attribute <textarea style="display:none;" name="test-textarea-name"> -->
                    <textarea class="form-control" style="display:none;" name="articleContent" placeholder="Enjoy It!">${article.articleContent}</textarea>
                </div>
                <div style="width:90%;margin: 10px auto;" style="margin: 15px 0px">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<!--页脚-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr>
        <footer>
            <p class="pull-right">
                <a href="#top">回到顶部</a>
            </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp@2018&nbsp&nbspGeekYe</p>
        </footer>
        <div class="col-md-2"></div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/editor.md-master/editormd.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width  : "90%",
            height : 640,
            path   : "/editor.md-master/lib/",
            syncScrolling : "single",
            saveHTMLToTextarea : true
        });

        //testEditor.getMarkdown();       // 获取 Markdown 源码
        //testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
        //testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用
    });
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>